.container {
display: grid;
display: inline-block;
}

.squares {
    display: grid;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.hover {
    background-color: black;
}

.noHover {
    background-color: white;
}
